{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 1 version", "not dead", "> 1% in US"]
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "corejs": 2,
        "regenerator": true
      }
    ]
    // ["prism-import", {"libraryName": "prism-reactjs", "style": "css"}]
  ],
  "env": {
    "development": {
      "plugins": [],
      "presets": [
        [
          "@babel/preset-react",
          {
            "development": true
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "@babel/plugin-transform-react-constant-elements",
        "@babel/plugin-transform-react-inline-elements",
        "@babel/plugin-transform-runtime",
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ]
      ],
      "presets": ["@babel/preset-react"]
    }
  }
}
