{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "commonjs": false
  },
  "extends": ["plugin:security/recommended"],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-unused-vars": [
      "warn",
      {
        "args": "after-used",
        "varsIgnorePattern": "PropTypes",
        "ignoreRestSiblings": true
      }
    ]
  },
  "globals": {
    "hljs": true
  }
}
